:root {
    --toner-gray: #F5F3F4;
    --light-gray: #D3D3D3;
    --silver-chalice: #B1A7A6;
    --imp-red: #E5383B;
    --carnelian: #BA181B;
    --ruby-red: #A4161A;
    --blood-red: #660708;
    --eerie-black: #161A1D;
    --rich-black: #0B090A;
    --bs-primary: #f4623a;
}

.fs-large {
    font-size: large;
}

.no-decoration {
    text-decoration: none !important;
}

.carousel-item {
    max-height: 54rem;
}

.carousel-item img {
    position: relative;
    z-index: -1;
}

.carousel-caption{
    right: 0%;
    left: 0%;
    bottom: 0%;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.transparent-bg {
    background: linear-gradient(360deg, rgba(0,0,0,0.856447688564477) 4%, rgba(255,0,0,0) 100%);
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, 
    rgba(92, 77, 66, 0.5) 100%), 
    url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.testimonial-slider .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: var(--bs-primary);
    border-radius: 100%;
}
.testimonial-slider {
    padding: 10px 0px 40px;
}

.text-half {
    color: var(--eerie-black);
    background-color: var(--bs-primary);
    flex: 1;
  }
  
  .img-half {
    background-color: var(--bs-primary);
    flex: 1;
    padding: 0;
  }

.img-100-cover {
    max-width:100%;
    max-height:100%;
    object-fit:cover;
    min-height: 32rem;
}

.article-text {

  margin-top: auto;
  margin-bottom: auto;
  max-height: 32rem;

  padding-left: 12em;
  padding-right: 12em;

  overflow: auto;
}

.mt-8-rem {
    margin-top: 8rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #212529;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    
    background: #31373d;
  }