{% extends 'landing/main.html' %}

{% block content %}
{% load static %}

<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Limpieza espiritual a tu alcance</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <a class="btn btn-primary btn-xl" href="#about">Descubre más</a>
            </div>
        </div>
    </div>
</header>

<!-- Call to action-->
<section id="about" class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
      <h2 class="mb-4">Sobre nosotros</h2>
      <p class="text-white-75 mb-3">
        Ofrecemos los mejores servicios para tus necesidades espirituales. 
        Limpieza de maldiciones, bendiciones, exorcismos y más.
      </p>
      <p class="text-white-75 mb-5">
        Si sientes ruidos durante la noche que no te dejan dormir, o has tenido mucha mala suerte últimamente y sientes que
        no es normal, podemos ayudarte.
      </p>
      <div class="align-self-baseline">
        <a class="btn btn-primary btn-xl" href="{% url 'team' %}">Nuestro equipo</a>
    </div>
  </div>
</section>

<div id="services" class="carousel slide carousel-fade bg-dark" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="{% static 'images/tarott.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100 d-none d-md-block pb-5 transparent-bg">
        <h3 class="mb-3">LECTURAS DEL TAROT</h3>
        <p class="fs-large ps-5 pe-5">Orientación a través de la lectura de cartas tarot para aconsejar acerca de cualquier problema que tengas.</p>
        <div class="align-self-baseline">
          <a class="btn btn-primary btn-xl" href="{% url 'services' %}">Descubre más</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/bg4.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100 d-none d-md-block pb-5  transparent-bg">
        <h3 class="mb-3">SANACIONES</h3>
        <p class="fs-large ps-5 pe-5" >Renueva tus energías,
          cambia tus ánimos, y aleja el negativismo de tu corazón.</p>
        <div class="align-self-baseline">
          <a class="btn btn-primary btn-xl" href="{% url 'services' %}#healing">Descubre más</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/bg6.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100 d-none d-md-block pb-5  transparent-bg">
        <h3 class="mb-3">LIMPIEZA</h3>
        <p class="fs-large ps-5 pe-5">Limpia cargas negativas y maldiciones en tu hogar.</p>
        <div class="align-self-baseline">
          <a class="btn btn-primary btn-xl" href="{% url 'services' %}#cleaning">Descubre más</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/services/couple.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption w-100 d-none d-md-block pb-5  transparent-bg">
        <h3 class="mb-3 text-uppercase">Reconciliación</h3>
        <p class="fs-large ps-5 pe-5">Rituales que logran la reconciliación perfecta, 
          consiguiendo que fluya la comunicación en la pareja o recuperar una amistad muy querida</p>
        <div class="align-self-baseline">
          <a class="btn btn-primary btn-xl" href="{% url 'services' %}#reconcile">Descubre más</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#services" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#services" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section id="testimonies" class="testimonial-slider bg-light">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner py-5 text-center">
          <div class="carousel-item active">
              <i class="bi bi-chat-right-quote fs-1 text-danger"></i>                    
              <figure class="text-cent col-md-6 offset-md-3 mt-4">
                  <blockquote class="blockquote">
                      <p>Llevaba días sin poder dormir por escuchar ruidos en mi casa, siempre sentía que me vigiliban. 
                        Una amiga me recomendó a Maria Julia y por medio de CLEANSE pude contactarla. Vino a mi casa e hizo un ritual para 
                        liberar a los espiritus que se encontraban, desde entonces he podido dormir sin problemas. 
                      </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mt-2">Javiera Villagra</figcaption>
              </figure>
          </div>
          <div class="carousel-item">
              <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
              <figure class="col-md-6 offset-md-3 mt-4">
                  <blockquote class="blockquote">
                      <p>Hice una lectura de Tarot con Martha y fue una excelente experiencia, quede muy contento con la orientación que me dió.
                        Fue súper clara y amable durante todo el proceso. Desde entonces la recomiendo a todos mis amigos y familiares, totalmente satisfecho 
                        con el trabajo realizado. Definitivamente pediré sus servicios de nuevo.
                      </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mt-2">Rodrigo Espinoza</figcaption>
              </figure>
          </div>
          <div class="carousel-item">
              <i class="bi bi-chat-right-quote fs-1 text-danger"></i>
              <figure class="col-md-6 offset-md-3 mt-4">
                  <blockquote class="blockquote">
                      <p>Por muchos días sentí que me salía todo mal, estaba de mal humor y no quería saber nada de nadie. Hasta que alguien me recomendo una sanación
                        para renovar mi energia y mejorar mis animos. Leticia hizo mi sanación, me guió durante todo el proceso y sali como una nueva persona.
                      </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mt-2">Fernanda Gomez</figcaption>
              </figure>
          </div>
      </div>
  </div>
</section>

{% include 'landing/contact-form.html' %}

{% endblock %}

